.row.mainDivIntro {
    height: 30vh;
    padding-top: 60px;
    font-size: 2em;
    margin-left: 100px !important;
    /* background-color: white; */
}

.triangle {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-left: 120px solid white;
    border-bottom: 60px solid transparent;
    opacity: 0.6;
}

.triangle:hover {
    opacity: 1;
}

.intro {
    padding-top: 35px;
    margin-right: 10px;
}