@font-face {
font-family: Simp; 
src: local('Simplifica Regular'), local('Simplifica');
/* Check how the font is written on the machine --> Right click on file -> Details -> Title */
src: url(fonts/SIMPLIFICA/simplifica.ttf) format('truetype');
font-weight: 900;}
#navbar {
     /* font-family: 'Roboto', sans-serif;  */
     font-family: Helvetica;
    font-size: 150%;
    font-weight: 700;
    color:white;
    background: white;
    height: auto;
    
    white-space: nowrap;
    border: black;
    border-bottom-color:  black;

}
#navbar a{
    text-decoration: none;
    color: black;
}
.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.container-first{
    height: 100%;
    padding: 10px;
}
body{   
   position: relative;
}
body::after {
pointer-events: none;
content: "";
background-image: url(../images/background.jpg);
top: 0;
left: 0;
bottom: 0;
right: 0;
background-repeat: repeat-y;
position: absolute; 
z-index: -1;
opacity: 0.6; 
}
.profile-pic{
   border-radius: 50%; 
}
.user-intro {
    text-align: center;
    padding-top: 70px;
}
@media only screen and (max-width: 768px){
    .user-intro {
        text-align: center;
        padding-top: 220px;
    }
}