@font-face {
    font-family: Simp;
    src: local('Simplifica Regular'), local('Simplifica');
    /* Check how the font is written on the machine --> Right click on file -> Details -> Title */
    src: url(fonts/SIMPLIFICA/simplifica.ttf) format('truetype');
    font-weight: 900;
}

/* Navbar */

#navbar {
    /* font-family: 'Roboto', sans-serif;  */
    font-family: Helvetica;
    font-size: 140%;
    font-weight: 700;
    background:  whitesmoke;
    padding: 10px 0px 10px 0px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

.container-first {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}

ul,
ol {
    list-style-type: none;
}

/* Profile page */

.profile-pic {
    border-radius: 50%;
}

.user-intro {
    text-align: center;
    padding-top: 70px;
}


.fav-places,
.last-searched,
.next-trip-places {
    text-align: center;
    color: black;
}

.select-profile-choises {
    padding-top: 5px;
}


@media only screen and (min-width: 768px) and (max-width: 140000px) {
    #navbar img {
        width: 70%;
     }
}
@media only screen and (min-width: 1px) and (max-width: 767px) {
    #navbar img {
        width: 33%;
     }
}

@media only screen and (max-width: 768px) {
    .user-intro {
        text-align: center;
        padding-top: 290px;
    }
    .log-in .col-sm-6,
    .log-in .col-sm-offset-3,
    .log-in {
        padding-top: 190px;
    }
}


/* Login form */

.log-in {
    padding-top: 150px;
    margin-right: 45%;
    display: block;
    width: 100% !important;
}

@media only screen and (max-width: 1400px) {
    .log-in {
        width: 100%;
        margin-left: 300px;
    }
}

@media only screen and (min-width: 1400px) {
    .log-in {
        margin-left: 525px;
    }
}

@media only screen and (max-width: 768px) {
    .log-in {
        margin-left: 155px;
    }
}

@media only screen and (max-width: 677px) {
    .log-in {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 470px) {
    .log-in {
        margin-left: 50px;
    }
}

.max-width-100-height-auto,
.item {
    max-width: 100%;
    height: auto;
}

#about-part,
#footer {
    /* height: 50vh; */
    width: 100%;
    padding: 10px 20px;
}

#container,
#partTwo {
    background: #2A3E59;
}

#footer {
    background: #2A3E59;
    color: white;
}

#partTwo {
    height: 50vh;
    width: 100%;
    padding: 10px 5px;
}

#about-part>p,
#footer>p,
#places>p {
    font-size: 1.5em;
}

#city-info>p {
    font-size: 1.2em;
}

#places>p {
    text-align: center;
    font-weight: bolder;
    background: rgba(34, 34, 34, 0.25);
}

#about-part>h1,
#footer>h1 {
    font-weight: bolder;
    font-size: 2.3em;
}

#photo,
#places,
#city-info {
    height: 25vh;
    color: white;
}

#photo,
#places {
    overflow: hidden;
}

#city-info {
    overflow: auto;
}

@media only screen and (min-width: 768px) and (max-width: 140000px) {

}

@media only screen and (min-width: 1px) and (max-width: 767px) {
    #city-info  {
        height: auto;
        max-height: 25vh;
    }
    #photo,
    #places {
        height: 35vh;
    }

}

.site-title,
h1 {
    text-align: center;
    font-size: 3em !important;
    /* background: white; */
    color: white;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-bottom: 15px !important;
}

