#partOne {
    height: 50vh;
}

#weather-live {
    padding: 0px 0px 0px 20px;
    height: auto;
}

#weather-box {
    height: auto;
    min-height: 100%;
    text-align: center; 
    color: #fefefe;
    font-weight: normal;
    padding: 0px 20px;
    background: rgba(34,34,34,0.75);
}

#map {
  height:100%;
}

.w-50 {
    width: 50%;
    padding-top: 10px;
    display: inline-block;
  }

  #icon img {
    width: 37%;
  }

  .right {
    text-align: right;
    font-size: 1.4em;
  }

  .date {
    text-align: left;
  }

  #city-name {
    font-size: 2em;
  }

  #city-tempC {
    font-size: 8em;
    font-weight: bold;
  }