#partOne {
    margin: 15px 0px; 
}

@media only screen and (min-width: 768px) and (max-width: 140000px) {
    #partOne {
        height: 50vh;
        margin-left: 20px;
         }
     #map, #weather-live {
        height: 100%;
    }
    #weather-box {
        height: auto;
        min-height: 100%;
    }
    #weather-live.col-sm-6.col-xs-12 {
        padding-right: 10px;
    }
    
}
@media only screen and (min-width: 1px) and (max-width: 767px) {
    #partOne {
        height: auto; 
        background: white;
     }
     #map {
        height: 50vh;
        width: 95%;
        margin: 0px 15px 15px 15px;
    }
    #weather-live {
        height: auto;
        padding-bottom: 15px; 
    }
    #weather-box {
        height: auto;
    }
}

#weather-box {
    text-align: center;
    color: #fefefe;
    font-weight: normal;
    padding: 0px 20px;
    background: rgba(34, 34, 34, 0.75);
}

#icon img {
    width: 37%;
}

.right {
    text-align: right;
    font-size: 2em;
}

.date {
    text-align: left;
    font-size: 1.7em;
}

.hour {
    text-align: left;
    font-size: 2.3em;
    font-weight: bolder;
}

#city-name {
    font-size: 2.5em;
}

#city-tempC {
    font-size: 7.5em;
    font-weight: bold;
}


#data-part {
    height:60vh;   
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(1, 104, 145), rgb(16, 152, 204));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(1, 104, 145), rgb(16, 152, 204)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
} 

#data-row {
    overflow: hidden;
    padding:2%;
    padding-right: 0;
    height: 60vh;
    margin-left: 0;
}

.panel-default {
    background-color:transparent !important;
    border: none !important;

}
.panel-default>.panel-heading {
    background-color: rgb(1, 168, 210) !important;
    width: 100%  !important;
    color:white !important;
    font-size: 15 !important;
    font-weight: 500 !important;
    text-align: center !important;
}

.panel-heading {
    /* background-color:transparent !important; */
    /* color: red; */
    
   
}

#data-panel {
    box-shadow: inset 0 0 20px 1000px rgba(0,0,0,.3);
    /* padding: 10px; */
    height: 100%;
    margin:1%;
    width:50%;
    padding-right: 0;
    padding-left: 0;

}

#data-plot {
    height: 100%;
    width: 100%;
   
}
#form-panel { 
    box-shadow: inset 0 0 20px 1000px rgba(0,0,0,.3);
   
    height: 100%;
    margin:1%;
    width:20%;
    color: white;
    font-family: 'Helvetica', sans-serif ;
    /* font-weight: 100 !important; */
    font-size:15;
    padding-right: 0;
    padding-left: 0;

}
#form-panel label{ 
    font-weight: 100 !important;
}
#data-info-panel{
    box-shadow: inset 0 0 20px 1000px rgba(0,0,0,.3);
    height: 100%;
    margin:1%;
    width:20%;
    padding-right: 0;
    padding-left: 0;
    color: white;
    font-family: 'Helvetica', sans-serif ;
    /* font-weight: 100 !important; */
    font-size:15;

    
}
#form-data {
    padding:10%;
}


#destination-input {
    
    background: white;
    border: none;
    font-size: 10pt;
    float: left;
    /* color: #fff; */
    padding-left: 15px;
}

#date-input {
    
    background: white;
    border: none;
    font-size: 10pt;
    float: left;
    /* color: #fff; */
    padding-left: 15px;
}
.glyphicon {
    border:none;
}