<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../styles/css/styles.css" rel="stylesheet">
    <link href="../styles/css/checkbox-style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Firebase links -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>
    <!--  -->
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/database/data-base-load-txt.js"></script>
    <script src="../scripts/manage-main-views.js"></script>
    <script src="../scripts/manage-profile-table.js"></script>
    <!-- Functionality -->
    
    <script src="../scripts/functionality/load-city.js"></script>
    
    <!--<script src="../scripts/functionality/load-history.js"></script>  -->

    <title>Title of the document</title>
</head>

<body>
    <div class="sticky-top">
        <div class="nav navbar-collapse" id="navbar">
            <div class="container-first">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#top">
                            <img src="../styles/images/logo.png" width="30%">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <a class="scroll" href="#partOne"> Part One </a>
                            </div>
                            <div class="col-sm-2">
                                <a class="scroll" href="#partTwo">Part Two</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="scroll" href="#about-part">About us</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="scroll" href="#footer">Contact Us</a>
                            </div>
                            <div class="col-sm-2">
                                <a id="logged"></a>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default">
                                    <a id="sign-up" href="#">Sign up</a>
                                    <a id="sign-out" href="#"></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="index container">

        <div id="top" class="row align-items-start" style="height:475px;">
            <div id="slideshow" class="col-xs-12" style="height:450px;"> </div>
        </div>
        <div id="city-types" class="row align-items-end">
            <div class="col-xs-2 col-xs-offset-1">
                <img class="max-width-100-height-auto" src="../styles/images/mountain.png" />
            </div>
            <div class="col-xs-2 col-xs-offset-2">
                <img class="max-width-100-height-auto" src="../styles/images/beach.png" />
            </div>
            <div class="col-xs-2 col-xs-offset-2">
                <img class="max-width-100-height-auto" src="../styles/images/Eiffel-tower.png" />
            </div>
        </div>


        <div id="partOne" class="row align-items-center">
            <div id="map" class="col-xs-6" style="height:600px;">
                <img class="max-width-100-height-auto" src="../styles/images/cities/map.jpg">
            </div>
            <div id="curr-weather" class="col-xs-6" style="height:500px;">
            </div>
        </div>

        <div id="partTwo" class="row align-items-center" style="height:100px;">
            <div id="photo" class="col-xs-4"> </div>
            <div id="city-info" class="col-xs-4"> </div>
            <div id="top-places" class="col-xs-4"> </div>
        </div>

        <div class="container">
            <div class="row" style="height:500px;"></div>
            <div id="about-part" class="row" style="height:100px;">
                <p>This project - blah blah blah</p>
            </div>
        </div>
        <!-- <a class="scroll" href= "#partTwo">Part Two</a> -->
        <div class="col-xs-12" style="height:500px;"></div>
        <div class="container">
            <div id="footer" class="row" style="height:100px;">
                <p>Contact us</p>
            </div>
        </div>
    </div>

    <div id="profile-page">
        <div class="user-intro">
            <img src="../styles/images/profile.png" class="profile-pic">
            <h3 class="media-heading">Username</h3>
            <small>Town</small>
        </div>
        <div class="profile-table">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li id="fav-places">
                    <a href="#fav-places">Favourite places</a>
                </li>
                <li id="visited-dest">
                    <a href="#visited-dest">Visited destinations</a>
                </li>
                <li id="next-trip-places">
                    <a href="#next-trip-places">Your next trip destination</a>
                </li>
                <li id="select-dest-type">
                    <a href="#select-dest-type">Favourite destination type</a>
                </li>
            </ul>
            <div class="profile-choises">
                <div class="fav-places">
                    <ol>
                        <li>Place 1</li>
                        <li>Place 2</li>
                        <li>Place 3</li>
                        <li>Place 4</li>
                    </ol>
                </div>
                <div class="visited-dest">
                    <ul>
                        <li>Place 1...</li>
                        <li>Place 2...</li>
                        <li>Place 3...</li>
                        <li>Place 4...</li>
                    </ul>
                </div>
                <div class="next-trip-places">
                    <ul>
                        <li>Place to visit...</li>
                        <li>Place to visit...</li>
                        <li>Place to visit...</li>
                        <li>Place to visit...</li>
                    </ul>
                </div>
                <div class="select-dest-type">
                    <li class="list-group-item">
                        Sea
                        <div class="material-switch pull-right">
                            <input id="option" name="someSwitchOption001" type="checkbox" />
                            <label for="option" class="label-info"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Mountain
                        <div class="material-switch pull-right">
                            <input id="option2" name="someSwitchOption001" type="checkbox" />
                            <label for="option2" class="label-info"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Landmarks
                        <div class="material-switch pull-right">
                            <input id="option3" name="someSwitchOption001" type="checkbox" />
                            <label for="option3" class="label-info"></label>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <!-- TODO profile page -->
    </div>


</body>

</html>