<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../styles/css/styles.css" rel="stylesheet">
    <link href="../styles/css/checkbox-style.css" rel="stylesheet">
    <link href="../styles/css/weather-display.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script> -->

    <!-- Firebase links -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>
    <!--  -->

    <title>Title of the document</title>

</head>

<body>
    <div class="sticky-top">
        <div class="nav navbar-collapse" id="navbar">
            <div class="container-first">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#top">
                            <img src="../styles/images/logo.png" width="30%">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <a class="scroll" href="#partOne">Live Weather</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="scroll" href="#partTwo">Extra info</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="scroll" href="#about-part">Project info</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="scroll" href="#footer">Contact Us</a>
                            </div>
                            <div class="col-sm-2">
                                <a id="logged" href="#"></a>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default">
                                    <a id="sign-up" href="#">Sign up</a>
                                    <a id="sign-out" href="#"></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="index container">
        <object src="../styles/images/weather-icons/01d.svg" type="image/svg+xml"></object>

        <div id="top" class="row align-items-start" style="height:500px;">
            <div id="slideshow" class="col-xs-12" style="height:450px;"> </div>
        </div>

        <div id="partOne" class="row">

            <div id="map" class="col-xs-6"></div>
            <div id="weather-live" class="col-xs-6"></div>

        </div>

        <div id="partTwo" class="row align-items-center">
        </div>
        <div id="admin" class="row">
            <p>Admin part</p>

        </div>

        <div id="about-part" class="row"> </div>

        <div id="footer" class="row">
        </div>

    </div>


    <div class="profile-page">
        <div class="user-intro">
            <img src="../styles/images/profile.png" class="profile-pic">
            <h3 class="media-heading">Username</h3>
            <small>Town</small>
        </div>
        <div class="profile-table">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li id="fav-places">
                    <a href="#fav-places">Favourite places</a>
                </li>
                <li id="last-searched">
                    <a href="#last-searched">Last searched destinations</a>
                </li>
                <li id="next-trip-places">
                    <a href="#next-trip-places">Your next trip destination</a>
                </li>
                <li id="select-dest-type">
                    <a href="#select-dest-type">Favourite destination type</a>
                </li>
            </ul>
            <div class="profile-choises">
                <div class="fav-places">
                    <ol class="fav-places-ol">
                    </ol>

                    <label for="addInput" id="label">
                        <input type="text" class="form-control" id="addInput" placeholder="Enter city name">
                        <button type="button" id="add" class="btn btn-primary">Add</button>
                    </label>
                </div>
                <div class="last-searched">
                    <ul class="last-searched-ul">
                    </ul>
                </div>
                <div class="next-trip-places">
                    <ul>
                        <li>Place to visit...</li>
                        <li>Place to visit...</li>
                        <li>Place to visit...</li>
                        <li>Place to visit...</li>
                    </ul>
                </div>
                <div class="select-dest-type">
                    <li class="list-group-item">
                        Sea
                        <div class="material-switch pull-right">
                            <input id="option" name="someSwitchOption001" type="checkbox" />
                            <label for="option" class="label-info"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Mountain
                        <div class="material-switch pull-right">
                            <input id="option2" name="someSwitchOption001" type="checkbox" />
                            <label for="option2" class="label-info"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Landmarks
                        <div class="material-switch pull-right">
                            <input id="option3" name="someSwitchOption001" type="checkbox" />
                            <label for="option3" class="label-info"></label>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <!-- TODO profile page -->
    </div>

    <div class="log-in">
        <div class="col-sm-6 col-sm-offset-3">
            <form role="form">
                <div class="form-group">
                    <label for="email">
                        <span class="glyphicon glyphicon-user"></span>E-mail</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">
                        <span class="glyphicon glyphicon-eye-open form-login"></span>Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <button type="submit" id="log-user" class="btn btn-default btn-success btn-block">
                    <span class="glyphicon glyphicon-off form-login"></span>Login</button>
            </form>
        </div>
    </div>

    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/database/data-base-load-json.js"></script>
    <script src="../scripts/manage-admin-views.js"></script>
    <script src="../scripts/add-fav-city.js"></script>
    <script src="../scripts/manage-weather-live-views.js"></script>
    <script src="../scripts/manage-main-views.js"></script>

    <script src="../scripts/manage-profile-table.js"></script>
    <!-- Functionality -->
    <script src="../scripts/weather-live-data/openweather-request.js"></script>
    <script src="../scripts/map/map-set-up.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0HeNhdqO0V6nJXW7CYQ28QoUQhUYqkYc&callback=initMap"
        type="text/javascript"></script>

    <script src="../scripts/functionality/load-history.js"></script>
    <script src="../scripts/functionality/load-project-and-contact-info.js"></script>
</body>

</html>